:root {
  --red: #ff3838;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-margin-top: 6rem;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(250, 234, 202);
  padding: 1.5rem 6%;
  box-shadow: 0.5rem 0.5rem rgb(166, 193, 245);
}

.main {
  width: 100%;
  background: url(./images/back2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main h1 {
  text-align: center;
  padding-top: 5rem;
  font-weight: bolder;
  font-size: 5rem;
  color: #eee;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header .icon {
  height: 2.5rem;
  width: 2.8rem;
  float: left;
  margin: -15px;
}


header .menu a {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #333;
}

header .menu a:hover {
  color: var(--red);
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;

}

ul li a {
  text-decoration: none;
  color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

#menu-bar {
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.4rem 1rem;
  display: none;
}


#u1 div {

  display: inline-block;

}

#u2 {
  position: absolute;
  top: 15px;
  left: 500px;

}

#u3 {
  position: absolute;
  top: 20px;
  left: 320px;
  width: 100px;
  height: 50px;
}

#u4 {
  float: left;
  width: 100vh;
  height: auto;
  background-size: cover;
}

#s1 {

  width: 100%;
  overflow: auto;
  height: 400px;
}

#s1 div {
  height: 100%;
  display: inline-block;
}




#s2 {
  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#s3 {
  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#s4 {

  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#s5 {

  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#t1 {


  width: 100%;
  overflow: auto;
  height: 250px;
}

#t1 div {
  height: 100%;
  display: inline-block;
}




#t2 {
  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#t3 {
  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#t4 {

  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#t5 {

  width: 200px;
  left: 50px;
  border-radius: 120px;
  margin-left: 100px;
}

#t6 {
  font-family: 'Courgette', cursive;
  font-size: 20px;
}


.heading {
  border-top: 7px double #282A35;
  border-bottom: 7px double #282A35;

  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
}

.heading span {
  color: var(--red);
}

.btn {
  display: inline-block;
  padding: .3rem .3rem;
  border: .2rem solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 0.7rem;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .box-container .box {
  margin-left: 5px;
  height: 200px;
  width: 23%;
  background: greenyellow;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .3rem solid rgba(0, 0, 0, .3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.speciality .box-container .box .content img {
  margin: 1.5rem 0;
}

.speciality .box-container .box .content h3 {
  font-size: 1.6rem;
  color: #333;
}

.speciality .box-container .box:hover .image {
  top: 0;
}

.speciality .box-container .box:hover .content {
  transform: translateY(100%);
}


.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: .3rem;
}

.popular .box-container .box {
  margin: 2px;
  margin-bottom: 8px;
  width: 16%;
  height: 290px;
  background: rgb(201, 221, 225);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .3rem solid rgba(37, 54, 75, 0.3);
  border-radius: .5rem;
  text-align: center;
  position: relative;
}

.popular .box-container .box img {
  margin-top: 3px;
  height: 150px;
  object-fit: cover;
  width: 95%;
  border: 2px solid #333;
  border-radius: .7rem;
}

.popular .box-container .box .price {
  position: absolute;
  top: 1rem;
  left: 0.3rem;
  background: green;
  color: #fff;
  font-size: 0.9rem;
  padding: .2rem 0.4rem;
  border-radius: .2rem;
}

.popular .box-container .box h3 {
  color: #333;
  font-size: 1.4rem;
  padding-top: 0.6rem;
}

.popular .box-container .box .stars i {
  color: gold;
  font-size: 1rem;
  padding: 0.4rem .1rem;
}


.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery .box-container .box {
  height: 12rem;
  width: 18rem;
  margin-left: 12px;
  margin-bottom: 5px;
  border: 0.3rem solid rgb(241, 174, 74);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(254, 218, 165);
  padding: 1.3rem;
  text-align: center;
}

.gallery .box-container .box .content h3 {
  font-size: 1.5rem;
  color: #333;
}

.gallery .box-container .box .content p {
  font-size: .9rem;
  padding-top: 3px;
  color: #666;

}

.gallery .box-container .box:hover .content {
  top: 0;
}

/* chef */

.review1 .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.review1 .box-container .box {
  height: 230px;
  width: 30%;
  margin-left: 20px;
  text-align: center;
  padding: 0.8rem;
  border: 0.5rem solid rgb(208, 246, 197);
  box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
  background: #333;
  margin-top: 7.5rem;
}

.review1 .box-container .box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin-top: -8rem;
  object-fit: cover;
}

.review1 .box-container .box h3 {
  font-size: 1.6rem;
  color: rgb(204, 245, 192);
  padding: .3rem 0;
}

.review1 .box-container .box .stars i {
  font-size: 1rem;
  color: rgb(255, 247, 0);
  padding: .3rem 0;
}

.review1 .box-container .box p {
  font-size: .7rem;
  color: #eee;
  padding: 1rem 0;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;

}

.center form {
  padding: 0 0px;
  box-sizing: border-box;
}

form .name_field {
  position: relative;

  margin: 10px 0;
}

.name_field input {
  width: 80%;
  padding: 0 5px;
  height: 20px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  margin-left: 30px;
}

.name_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
  margin-left: 30px;
}

.name_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 80%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
  margin-left: 30px;

}

.name_field input:focus~label,
.name_field input:valid~label {
  top: -5px;
  color: #2691d9;

}

.name_field input:focus~span::before,
.name_field input:valid~span::before {
  width: 80%;

}

input[type="submit"] {
  width: 80%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-left: 40px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: .5s;

}

.step-container .steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no wrap;
  gap: 1rem;
  padding: 1rem;
  margin-left: 60px;
}

.step-container .steps .box img {

  height: 120px;
  width: 120px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}



.steps .box h3 {
  font-size: 1rem;
  color: #333;
  padding-right: 3rem;

}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.review .box-container .box {
  height: 250px;
  width: 23%;
  margin-left: 10px;
  text-align: center;
  padding: 0.8rem;
  border: 0.3rem solid rgb(208, 246, 197);
  box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
  background: #333;
  margin-top: 9rem;
}

.review .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 30%;
  border: 0.3rem solid #fff;
  margin-top: -9rem;
  object-fit: cover;
}

.review .box-container .box h3 {
  font-size: 1.7rem;
  color: #fff;
  padding: .2rem 0;
}

.review .box-container .box .stars i {
  font-size: 1.2rem;
  color: var(--red);
  padding: .5rem 0;
}

.review .box-container .box p {
  font-size: 1rem;
  color: #eee;
  padding: 1rem 0;
}

.swiper {
  width: 98%;
  height: 95%;
}

.swiper-slide video {
  width: 100%;
}

.slid-con {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: antiquewhite;
}

.swiper .swiper-pagination-bullet-active {
  background: antiquewhite;
}

.contact .icons-container{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.contact .icons-container .icons{
  flex:1 1 25rem;
  text-align: center;
  padding:1rem;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .icons-container .icons i{
  height:3rem;
  width:3rem;
  line-height: 3rem;
  font-size: 2rem;
  background: var(--red);
  color:#fff;
  border-radius: 50%;
}

.contact .icons-container .icons h3{
  color:#111;
  font-size: 2rem;
  padding:.5rem 0;
  padding-top: 1rem;
}

.contact .icons-container .icons p{
  color:#666;
  font-size: 1.7rem;
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.contact .row form{
  flex:1 1 55rem;
  background:#fff;
  padding:0 2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .box,
.contact .row form textarea{
  width: 80%;
  border-bottom: .1rem solid #333;
  color:#333;
  text-transform: none;
  font-size: 1.5rem;
  padding:1rem 0;
  margin:1rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
  border-color: var(--red);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
  text-transform: capitalize;
}

.contact .row form textarea{
  height: 10rem;
  resize: none;
}

.contact .row form .btn{
  height: 3rem;
  width: 8rem;
  margin-top: 0;
}

@keyframes slider {
  30% {
    background-image: url('images/rst1.jpg');
    background-size: 100% 100%;
  }

  35% {
    background-image: url('images/rest2.jpg');
    background-size: 100% 100%;
  }

  35% {
    background-image: url('images/rest2.jpg');
    background-size: 100% 100%;
  }

  35% {
    background-image: url('images/rest2.jpg');
    background-image: 100% 100%;
  }

  35% {
    background-images: url('images/rest2.jpg');
    background-size: 100% 100%;
  }
}



@media(max-width:991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

}

@media(max-width:768px) {

  #menu-bar {
    display: initial;
  }

  header .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .menu a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: .2rem solid rgba(0, 0, 0, .1);
    border-left: .5rem solid var(--red);
    background: #fff;
  }

}


